label {
    display: block;
    margin-top: 2%;
    font: 1rem 'Fira Sans', sans-serif;
}

/* input,
label {
    margin: .4rem 0;
} */

.task{
    align-items: center;
    /* margin: auto; */
    /* margin-top: 10%;
    margin-left: 10%; */
    width: 60%;
}

select{
    /* margin-top: 2%; */
    width: 60%;
    height: 40px;
}