.login{
    align-items: center;
    /* margin: auto; */
    margin-top: 10rem;
    margin-left: 10rem;
    width: 25rem;
}

a{
    color: cornsilk;
}

.pointers{
    color: cornsilk;
    /* margin-right: 5%; */
    margin-top: 5px;
    padding: 5px;
    padding-top: 50px;
    
}

.pointers a{
    text-decoration: wavy;
}

.fitting{
    margin-top: auto;
}