.login{
    align-items: center;
    /* margin: auto; */
    margin-top: 70px;
    margin-left: 10rem;
    width: 25rem;
}

a{
    color: cornsilk;
}

.pointers{
    color: cornsilk;
    /* margin-right: 5%; */
    margin-top: 5px;
    padding: 5px;
    padding-top: 50px;
    
}

.pointers a{
    text-decoration: wavy;
}

.fitting{
    margin-top: auto;
}

.x-forgot{
    color: rgb(255, 138, 4);
}


@media screen and (max-width: 1000px) {
    .better-ui { width:100%;
         margin-top: 70px;
         margin-left: -100px;}
    
}



