li{
    color: black;
}

.singletask{
    width: 70%;
    padding: 1%;
    /* height: 50%; */

    /* background-color: grey; */
    /* height: ; */
    /* margin-left: -30%; */
    min-width: 100px;
    max-width: 100%;
    margin-right: 10%;
    
}

.singletask p{
    margin-bottom: 10px;
    /* padding: none; */
}

@media screen and (max-width: 768px) {
    #stask { width:100%; margin:0;}
    /* #secondary { width:100%; margin:0; border:none; } */
}

.singletask li{
    /* background-color: lightslategray; */
}

.task-a{
    color: white;
}

/* .content{
    position: relative;
    top: 39px;
} */

.completed{
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 1%;
    background-color: turquoise;
    text-align: right;
    border-radius: 35%;
}

.labels{
    position: absolute;
    top: 5%;
    right: 25%;
    padding: 1%;
    background-color: yellowgreen;
    text-align: right;
    border-radius: 35%;
}

.overdue{
    position: absolute;
    top: 30%;
    right: 5%;
    padding: 1%;
    background-color: red;
    text-align: right;
    border-radius: 35%;
}

button{
    margin-right: 10px;
}

.duedate{
    position: relative;
    top: 5%;
    left: 2%;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
    width: 30%;
    
}

.test1{
    top: 5%;
    background-color: yellow;
    /* border-radius: 50%; */
    padding: 4px;
    text-align: center;
    width: 30%;
}

.test2{

    top: 5%;
    /* right: 0%; */
    float: right;
    margin-right: 5px;
    padding: 1%;
    background-color: yellowgreen;
    text-align: right;
    border-radius: 35%;

}

.test2 a{
    text-decoration: none;
    font-size: 90%;
}

.test3{
    margin-right: 5px;
    top: 5%;
    float: right;
    padding: 1%;
    background-color: turquoise;
    text-align: right;
    border-radius: 35%;
}

.test3 a{
    text-decoration: none;
    font-size: 100%;
}

.test4 a{
    text-decoration: none;
    font-size: 100%;
}

.test4{
    margin-right: 5px;
    top: 5%;
    float: right;
    padding: 1%;
    background-color: red;
    text-align: right;
    border-radius: 35%;
}

.test5{
    margin-right: 5px;
    top: 5%;
    float: right;
    padding: 1%;
    background-color: orange;
    text-align: right;
    border-radius: 45%;
}

.task-button{
    width:20%;
    height: 200%;
    /* font-size: 80%; */
}

.update-please{
    font-size: 90%;
}