button{
    margin-top: 20px;
}

.members{
    text-align: center;
    margin-top: 20px;
    border-color: green;
    border-width: 5px;
    border-style: solid;
    width: inherit;
    padding-top: 5px;
    /* background-color: grey; */
    color: white;
}

.members p{
    margin-top: 7px;
}