.task-a{
    color: white;
}

.add-task{
    margin-left: 0%;
    margin-right: 0%;
    /* margin-bottom: 1%; */
    /* width: 70%; */
    width: 17%;
    height: 80px;
    /* height: 0%; */
    border-color: grey;
    /* background-color: grey; */
    background-color: #071e3e;
    margin-top: 0px;
    /* float: top; */
    position: relative;
    margin-bottom: 0px;
    border-radius: 0%;
    /* top: 10%; */
}

.fit-menu{
    /* margin-left: 8%; */
    /* width: 70%; */
    align-items: center;
}

.add-task-main{
    margin-left: 0%;
    margin-right: 0%;
    /* margin-bottom: 1%; */
    width: 70%;
    /* height: 0%; */
    border-color: grey;
    background-color: grey;
    /* background-color: #071e3e; */
    margin-top: 0px;
    /* float: top; */
    position: relative;
    margin-bottom: 0px;
    border-radius: 0%;
}

h3{
    /* border-color: darkcyan; */
    /* border-width: 30px; */
    color: turquoise;
    width: 70%;
    /* margin:auto; */
    align-items: center;
    text-align: center;
}